name: CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install packages
        run: pip install uv && uv sync
      #- name: format
      #  run: uv run black classes/*.py tests/*.py
      #- name: lint
      #  run: uv run pylint --disable=R,C classes/*.py tests/*.py
      - name: test
        run: uv run pytest tests/ -vv --cov=classes --cov-config=pyproject.toml